<div class="row ">

  <% if users.empty? %>
    <p class="col mx-auto text-center font-weight-bold">User not found</p>
  <% else %>

    <% users.each do |user| %>
      <div class="col-md-6 mb-3">
        <div id="user-card" class="card">

        <%= link_to user_path(user) do %>
         <div class="row no-gutters">
          <div class="col-4 text-center">
            <%= attachment_image_tag user, :icon, :fill, 70, 70, fallback: "no_image.png",size:"70x70" ,style:"border-radius: 50%" ,class:"mt-3"%>
          </div>

          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title"><%= user.name %></h5>
              <p class="card-text">投稿数：<%= user.posts.count %></p>
            </div>
          </div>
        </div>
        <%end%>
      </div>
      </div>
    <%end%>

  <% end %>
</div>

<div class="ml-auto mt-5">
  <%= paginate(users) %>
</div>