<div class="row">
  <div class="col-md-3">
    <h2>All Users</h2>
    <p><%= link_to "followings", user_followings_path(current_user) %></p>
    <p><%= link_to "followers", user_followers_path(current_user)  %></p>
  </div>

  <div class="col-md-8 offset-1">
    <% @users.each do |user| %>
      <%= link_to user_path(user) do %>
        <%= attachment_image_tag user, :icon, :fill, 60, 60, fallback: "no_image.png",size:"50x50" %>
        <%= user.name %>
      <%end%>
    <%end%>
  </div>

</div>