<div class="row">
  <div class="col-md-3">
    <h2>All Users</h2>
    <!--<% if user_signed_in? %>-->
      <!--<p><%= link_to "followings", user_followings_path(@user) %></p>-->
      <!--<p><%= link_to "followers", user_followers_path(@user)  %></p>-->
    <!--<% end %>-->

    <%= render "searches/form_user_search" %>
  </div>

  <div class="col-md-8 offset-1">
    <%= render "user_index", users:@users %>

    <div class="ml-auto mt-5">
      <%= paginate(@users) %>
    </div>

  </div>

</div>