<div class="my-5">
  <p>タグで探す</p>
  <% tags.each do |tag| %>
    <span class="pr-1">
      <%= link_to tag.name, tag_search_path(tag_id: tag.id) %><%="(#{tag.posts.count}), " %>
    </span>
  <%end%>
</div>


<% posts.each do |post| %>

  <div class="col-md-4 mr-auto">
    <%=link_to post_path(post) do %>
      <% post.post_images.first(1).each do |image| %>
        <%= attachment_image_tag image, :image, size: "200x200"%>
      <% end %>
    <% end %><br/>
    <%=link_to post_path(post) do %><%= post.body %><%end%>
    <%= post.tags.map(&:name).join(', ') %>

    <% if user_signed_in? %>
    <div id="post_<%= post.id %>">
      <%= render "favorites/iine", post: post %>
    </div>
    <%end%>
  </div>

<% end %>