<div class = "container">
  <h2>EDIT</h2>

  <div class="row">
    <div class="col-md-6 mx-auto">

      <%= render "layouts/error", model: @post %>

      <%= form_with model: @post, local: true do |f| %>

        <div class="mt-4">
          <%= f.label :post_images_images, "写真選択" %><br/>
          <%= f.attachment_field :post_images_images, multiple: true %>
        </div>

        <div class="mt-4">
          <%= f.label :address, '撮影場所' %>
          <%= f.text_field :address ,class:"form-control"%>
        </div>

        <div class="mt-4">
          <%= f.label :body ,"投稿文"%>
          <%= f.text_area :body, class:"form-control",style:"height:200px"%>
        </div>

        <div class="mt-4">
                <%= f.label :tag ,"タグ"%>
          <%= f.text_field :tag, value: @tag_list, placeholder:"タグを複数つけるには' , 'で区切ってください" ,class:"form-control"%>
        </div>

        <div class="text-center mt-5">
          <%= f.submit 'update!' ,class:"submit"%>
        </div>

        <div class="text-center mt-5">
          <%= link_to "back", posts_path ,class:"back"%>
        </dic>

      <%end%>
    </div>
  </div>
</div>
</div>
