<h2>Index</h2>

<div class="my-5">
  <p>タグで探す</p>
  <% @tags.each do |tag| %>
    <span class="pr-1">
      <%= link_to tag.name, tag_search_path(tag_id: tag.id) %><%="(#{tag.posts.count}) " %>
    </span>
  <%end%>
</div>

<div class="row">
  <%= render "post_index", posts: @posts %>
</div>

<div class="ml-auto">
  <%= paginate(@posts) %>
</div>

<!--検索フォーム-->
<input id="address" type="textbox" value="大阪">
<input type="button" value="検索" onclick="codeAddress()">

<div id='map'></div>

<style>
#map {
  height: 500px;
  width: 100%;
}
</style>

<script>
  let map

  function initMap(){
    // geocoderを初期化
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.68123620000001, lng:139.7671248},
        zoom: 8,
    });


    <% @posts.each do |post| %>
        (function(){
        var contentString = "住所：<%= post.address %>";

        var marker = new google.maps.Marker({
            position:{lat: <%= post.latitude %>, lng: <%= post.longitude %>},
            map: map,
            title: contentString
        });

      })();
    <% end %>
    }

    let geocoder

    function codeAddress(){
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

