<h2>新規投稿</h2>

<%= render "layouts/error", model: @post %>

<%= form_with model: @post, url: posts_path, method: :post, local: true do |f| %>

  <div class="field">
    <%= f.label :post_images_images, "写真選択" %>
    <%= f.attachment_field :post_images_images, multiple: true %>
  </div>

  <div class="field">
    <%= f.label :address, '撮影場所' %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :body ,"投稿文"%>
    <%= f.text_area :body, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :tag ,"タグ"%>
    <%= f.text_field :tag, placeholder:"タグを複数つけるには' , 'で区切ってください" %>
  </div>

  <span><%= link_to "back", posts_path %><span>
  <span class="text-right"><%= f.submit 'post!' %></span>

<%end%>