<!DOCTYPE html>
<html>
  <head>
    <title>PfMachinaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <div class = "container">
      <% if notice %>
        <p class="text-success"><%= notice %></p>
      <% elsif alert %>
        <p class="text-danger"><%= alert %></p>
      <%end%>

      <%= yield %>

      <span id="arrow">
        <a href="#">
          <%= image_tag asset_path("arrow2.png"), class:"arrow-img" %>
        </a>
      </span>

    </div>

  </body>
</html>
